* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c4c6c8;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.meme {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meme_title {
  padding: 2% 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  width: 100%;
}

.mem {
  width: 100%;
  min-height: 3rem;
  padding-top: 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.mem_header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 1rem;
}
.mem_name {
  position: absolute;
  left: 0;
  top: 1rem;
  font-size: 24px;
  font-weight: bold;
  color: blue;
  transition: 0.35s linear;
}

.label {
  position: absolute;
  right: 0;
  top: 1rem;
  width: 2rem;
  height: 2rem;
  background-image: url("./assets/cross.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(45deg);
  opacity: 0;
  transition: .35s linear;
}

.checkbox {
  display: none;
}

.meme_img {
  width: 0px;
  height: 0px;
  transition: .35s linear;
  padding-bottom: 0.5rem;
}

.meme:hover > .mem > .label {
  opacity: 1;
}

.meme:hover > .mem > .mem_name {
  color: black;
}

.mem:hover > img{
  width: 80%;
  height: 80%;
}

.label:hover + p + img{
  width: 80%;
  height: 80%;
}

.mem_name:hover {
  width: 80%;
  height: 80%;
}

.checkbox:checked + .label + p {
  color: black;
} 

.checkbox:checked + .label {
  transform: rotate(0);
}

.checkbox:checked + .label + p + img {
  width: 80%;
  height: 80%;
}