* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c4c6c8;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.meme {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meme_title {
  padding: 2% 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  width: 100%;
}

.mem {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mem_header {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  width: 100%;
}
.mem_name {
  font-size: 24px;
  color: white;
}

.label {
  position: absolute;
  right: 1%;
  top: 20px;
  width: 20px;
  height: 20px;
  transition: .2s linear;
  background-image: url("./assets/cross.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(45deg);
}

.checkbox {
  display: none;
}

.meme_img {
  width: 0px;
  height: 0px;
  transition: 0.2s linear;
}

.mem_header:hover + input + label + img{
  width: 80%;
  height: 80%;
}

.label:hover + img{
  width: 80%;
  height: 80%;
}

.checkbox:checked + .label {
  transform: rotate(0);
}

.checkbox:checked + .label + img {
  width: 80%;
  height: 80%;
}